################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WebApi/wwwroot/637889442203330008.txt
/src/WebApi/wwwroot/637889641237570072.txt
/src/WebApi/wwwroot/637889686579507261.txt
/.vs/FileViewer/FileContentIndex/a70625da-fe16-4ffe-9712-cfd16ff6b0e8.vsidx
/.vs/FileViewer/FileContentIndex/7fcccd43-6912-41f4-bd12-eda965472bb7.vsidx
