<h1>Choose File Form </h1>

<div mat-dialog-content>
  <form [formGroup]="uploadFileForm">
    <mat-form-field  *ngIf="canUploadFile" appearance="fill">
      <mat-label>Selectable File Types</mat-label>
      <mat-select [disabled]="!canUploadFile" [formControl]="selectableFileControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let selectableType of selectableTypes" [value]="selectableType">
          {{selectableType.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectableFileControl.hasError('required')">Please choose a file type</mat-error>
      <mat-hint>{{selectableFileControl.value?.abbreviation}}</mat-hint>
    </mat-form-field>

    <mat-form-field  *ngIf="canUploadFile" appearance="fill">
      <mat-label>Max File Size (Byte)</mat-label>
      <input formControlName="maxSize" type="number" matInput >
      <mat-error *ngIf="'maxSize.hasError'">Change File Size</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>File Alias</mat-label>
      <input formControlName="alias" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>File Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
  </form>
  
  <div *ngIf="canUploadFile" mat-dialog-action>
    <button type="button" style="margin-left:8px;" (click)="fileInput.click()" mat-raised-button color="primary">Choose
      File</button>
    <input hidden #fileInput [accept]="selectableFileControl.value?.abbreviation" type="file" (change)="onChange($event)" name="file">
    <mat-label *ngIf="file" style="margin-left:8px;">{{file?.name}}</mat-label>
    <mat-label *ngIf="loading" style="margin-left:8px;">Loading ...</mat-label>
  </div>
</div>

<div mat-dialog-action [align]="'end'">
  <button *ngIf="file" style="margin-left:8px;" mat-raised-button color="primary" (click)="onUpload()">Upload</button>
  <button *ngIf="!canUploadFile" style="margin-left:8px;" mat-raised-button color="primary" (click)="onUpdateData()" >Update</button>
</div>